*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* start header */
 header{
    position: absolute  ;
    width: 100%;
    z-index: 11;
    color: white;
}
header .navbar-light .navbar-nav .active>.nav-link{
    color: #35a22c;
}
header .navbar-light .navbar-nav .active>.nav-link::before{
    width: 100%;
    background: #35a22c;
}
header .navbar-light .navbar-nav .nav-link {
    color: white;
    transition: all 0.4s;
    position: relative;
}
header .navbar-light .navbar-nav .nav-link::before{
    position: absolute;
    width: 100%;
    display: block;
    content: "";
    height: 2px;
    left: 0;
    width: 0%;
    bottom: -5px;
    background: #35a22c;
    transition: all .5s;
}
header .navbar-light .navbar-nav .nav-link:hover{
    color:#35a22c;
}
header .navbar-light .navbar-nav .nav-link:hover::before{
    width: 100%;
}
header .navbar-brand {
    font-size: 35px;
    color: #fff;
    padding: 12px 0;
}
header .navbar-brand i{
    font-size: 45px;
    color: #35a22c;
    /* position: absolute; */
}

/* start carousel */

.carousel__bg{
    height: 100vh;
    object-fit: cover;
}

#carousel .carousel-caption img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#carousel .carousel-caption{
    bottom: 23%;
}
#carousel .carousel-item::before{
    background: rgba(39,43,54,.5);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
}
.carousel-indicators{
    bottom: 10%;
}
.carousel-indicators li{
    width: 13px;
    height: 13px;
    border-radius: 50%; 
}
.carousel-indicators li.active{
    background-color: #35a22c;
} 
.carousel-caption p{
    font-size: 24px;
}
.carousel-caption h5{
    font-size: 56px;
    line-height: 65px;
}
#products .title{
    max-width: 750px;
}
#products .title p:first-of-type{
    font-size: 35px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: bold;
}
#products .title p:last-of-type{
    color: #585858;
    line-height: 24px;
}
#products .item__content{
    border-radius: 15px;
    overflow: hidden;
    height: 450px;
    /* background: white; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#products .item__content img{
    height: 350px;
    object-fit: cover;
}
#products .item__content .titile{
    text-align: center;
    padding: 15px;
    height: 100px;
    border: 2px solid white;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-color: white;
    transition: all 0.5s;
    cursor: pointer;
}

#products .item__content:hover .titile{
    color: #35a22c;
    border-color: #35a22c;
    border-top-color: white;
}
.nav-pills {
    padding-top: 10px;
}
.nav-pills .nav-link.active{
    background-color: #35a22c;
    border-color: #35a22c;
    color: #fff;
    
}
.nav-pills .nav-link {
    border-radius: 0.25rem;
    border: 1px solid black;
    margin: 2px 5px;
    color: #1a1d2d;
}


/* Ability */
.ability{
    background: url(./image/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}
.ability .hire_me{
    max-width: 750px;
    position: relative;
}
.ability .hire_me h2{
    font-size: 36px;
    line-height: 42px; 
    font-weight: bold;
}
.ability .hire_me p{
    line-height: 24px;
    z-index: 10;
}
.ability .hire_me .text-white{
    color: #fff
}
.ability .bg_overlay{
    background: rgba(7,10,12,.72);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ability .skills__item{
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    padding: 40px 40px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    transition: all .6s;
}
.ability .skills__item:hover{
    background: #000;
    border-color: #fff;
}
.ability .skills__item i {
    font-size: 48px;
    color: #35a22c;
}
.ability .skills__item h4 {
    font-weight: 750;
    font-size: 20px;
    line-height: 30px;
    padding-top: 25px;
    color: #fff;
}
.ability .skills__item p{
    padding-top: 14px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

/* award */
.award{
    padding: 70px 0;
    position: relative;
}
.award .award__bg{
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5;

}
.award .award__left {
    background: rgba(255,255,255,.25);
    border: 1px solid rgba(255,255,255,.18);
    border-radius: 12px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    backdrop-filter: blur(3px);
    padding: 45px;
    position: relative;
}
.award .award__left h2{
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    color: #1a1d2d;
}
.award__right {
    padding: 45px 0;
}
.award .award__right p{
    margin-bottom: 18px;
    margin-top: 0;
}
.award .award__right img{
    max-width: 100%;
    height: auto;
}

/* final */
.final{
    background: #222;
}
.final .final__icon{
    padding-top: 3px;
}
.final .final__icon a{
    margin-right: 10px;
}
.final .final__icon i{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .6s;
    line-height: 40px;
    color: rgb(189, 185, 185) ;
}
.final .final__icon i:hover{
    border: 1px solid green;
}
.final .final__copyright {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #454545;
    color: #aaa;
}
.final .final__copyright a{
    color: #aaa;
    transition: .3s;
    text-decoration: none;
}
.final .final__copyright a:hover{
    color: #35a22c;
}